# Virtual environment directory
.venv/
test.py
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/mukulbiswas5558/newAuthFast.git
git push -u origin main